# 추천 시스템

## 데이터 탐색 및 전처리

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
df = data[['user_id','artist','play']]

In [5]:
df['artist'] = df.artist.str.lower()

/tmp/ipykernel_18/3914197207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['artist'] = df.artist.str.lower()

In [6]:
condition = (df.user_id == df.loc[0,'user_id'])
df.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [7]:
# 유저수
df.user_id.nunique()

358868

In [8]:
# 인기 아티스트
artist_count = df.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(10)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
Name: user_id, dtype: int64

In [9]:
# 유저별 몇명의 아티스트의 노래를 듣는지
user_count = df.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [13]:
# 유저별 play 횟수 중앙값
user_median = df.groupby('user_id')['play'].median()
user_median

user_id
00000c289a1829a808ac09c00daf10bc3c4e223b     227.0
00001411dc427966b17297bf4d69e7e193135d89    1468.0
00004d2ac9316e22dc007ab2243d6fcb239e707d      90.0
000063d3fe1cf2ba248b9e3c3f0334845a27a6bf       8.0
00007a47085b9aab8af55f52ec8846ac479ac4fe      88.5
                                             ...
fffe8637bd8234309e871409c7ebef99a720afc1      77.5
fffe8c7f952d9b960a56ed4dcb40a415d924b224     120.5
ffff9af9ae04d263dae91cb838b1f3a6725f5ffb     201.0
ffff9ef87a7d9494ada2f9ade4b9ff637c0759ac      97.5
sep 20, 2008                                  23.0
Name: play, Length: 358868, dtype: float64

In [14]:
# 사용자 초기 정보 세팅
my_favorite = ['black eyed peas', 'maroon5','jason mraz', 'coldplay','beyoncé']

# 'zimin user_id가 favorite 아티스트 노래를 30회씩 들음 가정'
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not df.isin({'user_id':['zimin']})['user_id'].any():
    df = df.append(my_playlist)
df.tail(10)

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [15]:
# 유저, 아티스트의 집합 추출
user_unique = df.user_id.unique()
artist_unique = df.artist.unique()

# 유저, 아티스트 indexing 코드
user_to_idx = {v:k for k, v in enumerate(user_unique)}
artist_to_idx = {v:k for k, v in enumerate(artist_unique)}

In [16]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [18]:
user_to_idx.get('zimin')

358868

In [20]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = df['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(df):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    df['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = df['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(df):
    print('artist column indexing OK!!')
    df['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

df

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [21]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = df[df['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535655
Ratio of only_one over all data is 0.84%

## Matrix Factorization(MF)

In [28]:
from scipy.sparse import csr_matrix
num_user = df['user_id'].nunique()
num_artist = df.artist.nunique()
csr_data = csr_matrix((df.play, (df.user_id, df.artist)), shape = (num_user,num_artist))

In [58]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# 기본 설정
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [68]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=10, dtype=np.float32)

In [69]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [70]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/10 [00:00<?, ?it/s]

In [71]:
# zimin 벡터와 black eyes peas 벡터 확인
# 두 벡터의 내적
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [74]:
zimin_vector

array([ 0.07462627, -0.7799757 , -0.77890605,  0.47615072,  0.5726552 ,
        1.2210239 , -0.6834864 , -0.21985899,  0.88055265,  0.4179734 ,
        0.73148215,  1.1886206 , -0.33036658, -0.813033  , -0.5755752 ,
       -0.0886758 ,  0.5514646 ,  0.10049692,  0.37355056, -0.72909135,
       -0.5921571 ,  0.10495203,  0.864984  , -0.64982486,  0.31869495,
       -0.20060037,  0.26348853, -0.18147516,  0.8484079 ,  0.69735754,
        0.18746142,  1.5894148 , -0.29555267, -0.12386158, -0.1905001 ,
       -0.21637866,  1.0442054 , -0.6102807 ,  0.6024217 , -0.11270911,
       -0.78508794, -0.25270262,  0.23368327, -1.2523267 ,  0.40829673,
       -0.3644022 , -0.01137854, -0.45732588,  0.13117789,  0.48160133,
       -0.06573127, -0.600341  , -0.22167107, -0.80966717,  1.3057635 ,
        0.01048461,  0.19387665, -0.4387401 ,  0.30776712,  0.8488121 ,
        0.62189835,  0.15296267,  0.61743265,  0.46187732,  0.06544468,
        0.12787351,  0.64658   , -0.74505603,  0.13650143,  0.26763737,
        0.7832182 , -0.89535505,  0.24632874, -1.0714978 , -0.3563687 ,
       -0.49704295,  0.4959705 , -1.3004371 ,  0.861288  ,  0.95975673,
       -0.7783614 , -0.5684683 , -0.4020321 , -0.4887991 ,  0.17563966,
       -0.13055782,  0.56780404,  0.04318821,  0.42498186,  0.02702014,
        0.564611  ,  0.01864019,  0.6016704 , -0.36978415, -0.09799923,
       -0.35732332,  0.04192038,  0.19542176, -0.19299763, -1.3555694 ],
      dtype=float32)

In [75]:
black_eyed_peas_vector

array([ 0.00263368, -0.00278196, -0.00572232,  0.01619374,  0.01723313,
        0.0364922 , -0.00246056,  0.00503043,  0.01050085,  0.02812872,
        0.01025744,  0.00509848,  0.00828163, -0.01383562, -0.01464193,
        0.00662302,  0.01526805, -0.00280192,  0.01116208, -0.00500959,
        0.00184267, -0.00280016,  0.01937999, -0.0033924 ,  0.00198645,
       -0.00476013,  0.00291773,  0.00936304,  0.01908794,  0.02173735,
        0.00758321,  0.02081537, -0.00248318,  0.01630649,  0.00687461,
        0.01074004,  0.01927519, -0.00668654,  0.01446398, -0.00129287,
       -0.00838985, -0.0019654 ,  0.00387234, -0.00717272,  0.01878185,
       -0.00081188,  0.00262105,  0.00300566, -0.00201469,  0.01630263,
       -0.00154932, -0.0113362 , -0.00448188, -0.00775947,  0.01065073,
       -0.00434997,  0.01554132,  0.01160112,  0.01090973,  0.01462952,
       -0.01295029,  0.01638491, -0.00091987,  0.00894097,  0.0118142 ,
        0.02103541,  0.01464953,  0.00039156,  0.01193587,  0.01678584,
        0.02617416,  0.01329991,  0.01241625,  0.01147925,  0.02087196,
        0.00533437,  0.02316451, -0.00955581,  0.01477082,  0.0174812 ,
       -0.00805499,  0.00197397, -0.00950246, -0.01072724,  0.01367997,
        0.00278632,  0.00673707, -0.00095223,  0.01975442,  0.00951519,
        0.0095219 ,  0.02588934,  0.02015571,  0.00807126,  0.00898485,
        0.00626473,  0.00373154,  0.01856699,  0.00600919, -0.01490802],
      dtype=float32)

In [76]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.28434575

In [77]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.9859984),
 (217, 0.97832835),
 (5, 0.97699785),
 (28, 0.9761323),
 (490, 0.97365797),
 (473, 0.96534085),
 (247, 0.9652066),
 (418, 0.95906734),
 (694, 0.956613),
 (1018, 0.9518795),
 (910, 0.95043314),
 (268, 0.94425553),
 (782, 0.9414751),
 (55, 0.94140494)]

In [78]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'radiohead',
 'red hot chili peppers',
 'the killers',
 'oasis',
 'placebo',
 'the beatles',
 'u2',
 'foo fighters',
 'the smashing pumpkins',
 'nirvana',
 'pink floyd',
 'the white stripes',
 'arctic monkeys']

In [79]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

슝=3

In [80]:
get_similar_artist('2pac')

['2pac',
 'nas',
 'the game',
 'jay-z',
 'notorious b.i.g.',
 '50 cent',
 'snoop dogg',
 'ludacris',
 't.i.',
 'dr. dre']

In [81]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'christina aguilera',
 'the pussycat dolls',
 'nelly furtado',
 'pink',
 'kelly clarkson']

In [82]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.41844034),
 (369, 0.41106206),
 (550, 0.39542383),
 (627, 0.3917909),
 (354, 0.39143965),
 (2249, 0.37990457),
 (274, 0.37684086),
 (1800, 0.37582743),
 (391, 0.36823815),
 (5555, 0.36770105),
 (409, 0.36243075),
 (382, 0.3510065),
 (715, 0.3472945),
 (2902, 0.34708607),
 (621, 0.34619802),
 (901, 0.34182906),
 (355, 0.34100905),
 (3005, 0.33230335),
 (564, 0.3298185),
 (618, 0.32936424)]

In [83]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'britney spears',
 'maroon 5',
 'nelly furtado',
 'katy perry',
 'michael jackson',
 'lady gaga',
 'christina aguilera',
 'timbaland',
 'amy winehouse',
 'mika',
 'norah jones',
 'james blunt',
 'alicia keys',
 'pink',
 'madonna',
 'duffy',
 'kanye west',
 'the pussycat dolls']

In [84]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [85]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.1825668899296952),
 ('black eyed peas', 0.12892756561827856),
 ('jason mraz', 0.0602224346545681),
 ('coldplay', 0.053666307383858566),
 ('maroon5', -0.00019400770781795903)]

# 프로젝트

별점은 explicit 이지만 implicit처럼 간주하고 테스트 가능  
별점을 시청횟수로  
3점 미만은 데이터 선호하지 않음

In [2]:
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [5]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [6]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## 분석해보기

unique 영화 갯수

In [7]:
ratings.movie_id.nunique()

3628

unique 사용자 갯수

In [8]:
ratings.user_id.nunique()

6039

인기영화

In [9]:
df = pd.merge(ratings, movies[['movie_id','title']], how='left',on='movie_id')

In [10]:
df.drop('timestamp',axis=1,inplace=True)

In [11]:
movie_rank = df.groupby('title')['user_id'].count()
movie_rank.sort_values(ascending=False).head(10)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Name: user_id, dtype: int64

In [12]:
my_favorite = df.title[:5].to_list()
my_favorite

["One Flew Over the Cuckoo's Nest (1975)",
 'James and the Giant Peach (1996)',
 'My Fair Lady (1964)',
 'Erin Brockovich (2000)',
 "Bug's Life, A (1998)"]

In [349]:
my_movie_list = pd.DataFrame({'user_id':['gu']*5,'movie_id':[9994,9995,9996,9997,9998],'counts':[5]*5,'title':my_favorite})
if not df.isin({'user_id':['gu']})['user_id'].any():
    df = df.append(my_movie_list)
df.tail(10)

       user_id  movie_id  counts                                   title
836473    6040      1090       3                          Platoon (1986)
836474    6040      1094       5                 Crying Game, The (1992)
836475    6040       562       5         Welcome to the Dollhouse (1995)
836476    6040      1096       4                  Sophie's Choice (1982)
836477    6040      1097       4       E.T. the Extra-Terrestrial (1982)
0           gu      9994       5  One Flew Over the Cuckoo's Nest (1975)
1           gu      9995       5        James and the Giant Peach (1996)
2           gu      9996       5                     My Fair Lady (1964)
3           gu      9997       5                  Erin Brockovich (2000)
4           gu      9998       5                    Bug's Life, A (1998)

In [13]:
user_unique = df.user_id.unique()
movie_unique = df.title.unique()
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [14]:
idx_to_movie = {k:v for k,v in enumerate(movie_unique)}

In [15]:
movie_to_idx[my_favorite[0]]

0

In [16]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = df['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(df):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    df['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = df['title'].map(movie_to_idx.get).dropna()
if len(temp_artist_data) == len(df):
    print('artist column indexing OK!!')
    df['title'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

df

user_id column indexing OK!!
artist column indexing OK!!

        user_id  movie_id  counts  title
0             0      1193       5      0
1             0       661       3      1
2             0       914       3      2
3             0      3408       4      3
4             0      2355       5      4
...         ...       ...     ...    ...
836473     6038      1090       3   1030
836474     6038      1094       5    986
836475     6038       562       5    311
836476     6038      1096       4    142
836477     6038      1097       4     26

[836478 rows x 4 columns]

In [354]:
df.reset_index(drop=True,inplace=True)

In [355]:
df

        user_id  movie_id  counts  title
0             0      1193       5      0
1             0       661       3      1
2             0       914       3      2
3             0      3408       4      3
4             0      2355       5      4
...         ...       ...     ...    ...
836478     6039      9994       5      0
836479     6039      9995       5      1
836480     6039      9996       5      2
836481     6039      9997       5      3
836482     6039      9998       5      4

[836483 rows x 4 columns]

In [17]:
from scipy.sparse import csr_matrix
num_user = df['user_id'].nunique()
num_artist = df.title.nunique()
csr_data = csr_matrix((df.counts, (df.user_id, df.title)), shape = (num_user,num_artist))

In [18]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# 기본 설정
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [19]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=150, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [20]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6039 sparse matrix of type '<class 'numpy.int64'>'
	with 836478 stored elements in Compressed Sparse Column format>

In [21]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [31]:
# 두 벡터의 내적
gu, movie_name = user_to_idx[3], movie_to_idx[my_favorite[4]]
gu_vector, movie_vector = als_model.user_factors[gu], als_model.item_factors[movie_name]

In [32]:
np.dot(gu_vector, movie_vector)

0.61821723

In [33]:
movie_simillar=  als_model.similar_items(0,N=15)
movie_simillar

[(0, 1.0),
 (1554, 0.350374),
 (47, 0.3165473),
 (3114, 0.30031925),
 (700, 0.2968223),
 (754, 0.29466426),
 (2307, 0.29437238),
 (2568, 0.29320174),
 (2123, 0.29049346),
 (1319, 0.28997004),
 (3620, 0.2869064),
 (2318, 0.28608823),
 (157, 0.28548896),
 (3326, 0.28079963),
 (2979, 0.2798899)]

In [35]:
movie_simillar[0]

(0, 1.0)

In [37]:
# 비슷한 영화
[idx_to_movie[i[0]] for i in movie_simillar]

["One Flew Over the Cuckoo's Nest (1975)",
 'Midnight Cowboy (1969)',
 'To Kill a Mockingbird (1962)',
 'Bloodsport 2 (1995)',
 'Papillon (1973)',
 'Larger Than Life (1996)',
 'She-Devil (1989)',
 'Rosewood (1997)',
 'Slumber Party Massacre, The (1982)',
 'Whatever (1998)',
 'Modulations (1998)',
 'Sorority House Massacre (1986)',
 'Shawshank Redemption, The (1994)',
 'Train of Life (Train De Vie) (1998)',
 'Dog Park (1998)']

In [38]:
movie_recommend = als_model.recommend(3000,csr_data, N=15, filter_already_liked_items=True)

In [39]:
user = user_to_idx[10]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(145, 1.109992),
 (765, 1.0969385),
 (1049, 1.080715),
 (48, 1.0802962),
 (463, 1.0264584),
 (1227, 0.9886908),
 (325, 0.96981055),
 (953, 0.9689264),
 (244, 0.95883554),
 (18, 0.950134),
 (1355, 0.9380135),
 (364, 0.9246637),
 (852, 0.90859765),
 (177, 0.90657),
 (46, 0.9034276),
 (1348, 0.8972247),
 (1335, 0.89378166),
 (62, 0.8751817),
 (1338, 0.85261893),
 (162, 0.84982735)]

In [40]:
[idx_to_movie[i[0]] for i in movie_recommended]

['Fifth Element, The (1997)',
 'Ladyhawke (1985)',
 'Gods Must Be Crazy, The (1980)',
 'Saving Private Ryan (1998)',
 'Frequency (2000)',
 'Heaven Can Wait (1978)',
 'Romancing the Stone (1984)',
 'Muppet Movie, The (1979)',
 'Liar Liar (1997)',
 'Awakenings (1990)',
 'King and I, The (1956)',
 'Peggy Sue Got Married (1986)',
 'Desperately Seeking Susan (1985)',
 'Three Musketeers, The (1993)',
 'Dumbo (1941)',
 'Creature Comforts (1990)',
 'Father of the Bride (1950)',
 'Total Recall (1990)',
 'Harvey (1950)',
 'Animal House (1978)']

##  실험 종료
테스트에서 가장 어려웠던 점은 implicit 이라는 처음 보는 라이브러리를 사용하는 것과, csr matrix에 대한 이론적인 내용을 한번에 이해해야 하는 점이었다.  csr matrix는 완전히 이해하지 못했지만 우선 압축하는 데이터 구조를 활용하여 자칫 쓸모없는 용량 소모를 막아준 점을 알게되어 필요시에 써볼 수 있을 듯 하다  
implicit이라는 라이브러리는 아직 1버전의 정식버전이 아니어서 그런지 gpu사용 기능은 있었지만 이후에 추가적으로 할 수 있는 것이 없어서 사실상 cpu를 활용할 수 밖에 없었다  
이후 학습하는 과정에서 무엇이 잘못되었는지, 개인 데이터를 추가하는 상황에서 유저와 아이템이 바뀌어서 모델에서 정보가 나오게 되었는데 이 부분은 버그인지 정확히 알아낼 수가 없어 제외를 하였다  
추천 정도는 어느정도 잘 나와준 편이어서 이를 응용하면 여러 분야에 응용할 수 있을 것 같다